html,
body {
    margin: 0;
    padding: 0;
}

p,
h2,
h3,
a {
    font-family: 'Open Sans', sans-serif;
}

button,
input,
h1,
.h1 {
    font-family: 'Roboto', sans-serif;
}

button:hover, .btn-submit:hover {
    cursor: pointer;
}

.with-background {
    background: #CD6326;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.with-background:hover {
    background: #E39128;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.with-background:active {
    background: #8F5613;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #8F5613;
}

.without-background:hover {
    background: #CD6326;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav li:active .without-background {
    background: #8F5613;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #8F5613;
}

.header {
    height: 780px;
    margin: 0 auto;
    background-color: #02160b;
    background-image: url("assets/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 99px;
    margin-bottom: 102px;
}

.logo {
    width: 237px;
}

.logo-link {
    width: 223px;
    display: flex;
    justify-content: space-between;
}

h1,
.h1 {
    text-transform: uppercase;
    color: #F7F7F7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    line-height: 60px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 478px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav li {
    font-size: 23px;
    color: #F7F7F7;
}

a {
    text-decoration: none;
}

.nav li a {
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}

.header-nav-search {
    position: relative;
    top: 8px;
}

.header-nav-btn {
    width: 120px;
    height: 50px;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background: none;
    box-sizing: border-box;
}

.survival {
    width: 274px;
}

h2 {
    font-size: 48px;
}

.survival-title {
    margin-bottom: 51px;
    color: #CD6326;
    letter-spacing: 2px;
    line-height: 72px;
    font-weight: 400;
}

.survival-text {
    font-size: 18px;
    color: #F7F7F7;
    line-height: 27px;
    margin-bottom: 48px;
}

.survival-btn {
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
}

main {
    height: 1367px;
    background-color: #cccccc;
    padding-top: 1px;
}

.latest-articles {
    margin-top: 119px;
    margin-bottom: 235px;
    text-align: center;
}

.latest-articles-title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}

.latest-articles-text {
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
}

.slider {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-arrow {
    position: relative;
    bottom: 1px;
    padding: 0;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.arrow {
    width: 30px;
}

.btn-arrow:hover .arrow {
    display: none;
}

.rightHover,
.leftHover {
    display: none;
}

.btn-arrow:hover .rightHover,
.btn-arrow:hover .leftHover {
    display: block;
    width: 30px;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 27px;
}

.description-left {
    left: 59px;
}

.description-center {
    left: 76px;
}

.description-right {
    left: 90px;
}

figcaption p {
    color: #F7F7F7;
}

.card-title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 36px;
}

.card-text {
    margin-top: 10px;
    font-size: 17px;
    line-height: 27px;
}

.get-notified {
    text-align: center;
}

.get-notified-title {
    font-size: 27px;
    line-height: 40px;
    color: #333333;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.inp-email {
    width: 540px;
    height: 60px;
    border: 1px solid #666666;
    box-sizing: border-box;
    background: none;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    padding-left: 15px;
}

.btn-submit {
    width: 120px;
    height: 60px;
    border: 1px solid #CD6326;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
}

footer {
    height: 359px;
    background-color: #181617;
    background-image: url("assets/footer-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 359px;
}

.nav-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 240px;
    padding-left: 0;
}

.address-link {
    width: 40px;
    height: 40px;
}

.fb {
    background-image: url("assets/fb.svg");
}

.instagram {
    background-image: url("assets/inst.svg");
}

.pin {
    background-image: url("assets/pin.svg");
}

.telegram {
    background-image: url("assets/telegram.svg");
}