html,
body {
    margin: 0;
    padding: 0;
}

p,
h2,
a,
button {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 780px;
    margin: 0 auto;
    background-color: #02160b;
    background-image: url("assets/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.logo-link {
    width: 223px;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-transform: uppercase;
    color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 478px;
    list-style: none;
}

.header-nav-link {
    font-size: 23px;
    color: #F7F7F7;
}

a {
    text-decoration: none;
}

.header-nav-btn {
    width: 120px;
    height: 50px;
    font-size: 23px;
    color: #F7F7F7;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background: none;
    box-sizing: border-box;
}

.survival {
    width: 274px;
}

h2 {
    font-size: 48px;
}

.survival-title {
    color: #CD6326;
    letter-spacing: 2px;
    line-height: 72px;
    margin-bottom: 51px;
}

.survival-text {
    font-size: 18px;
    color: #F7F7F7;
    line-height: 27px;
    margin-bottom: 48px;
}

.survival-btn {
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    border: none;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
}



